# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
Packages/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# User settings
*.xcuserstate
*.xcuserdatad
